<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>User Page</title>
</head>
<body>
<header>
    <a href="/feed">Feed</a>
    <a href="/posts/create">Post news</a>
    <a href="/index">About</a>
</header>
<h1> Admin page</h1>
<h2>Welcome: <span th:utext="${user.username}"></span></h2>
<h3>List of users:</h3> </br>

<form method="post" th:object="${allUsers}" th:action="@{/admin}">
    <td>
        <table>
            <tbody>
            <tr th:each="u : ${allUsers}">
                <td>
                    <span th:text="${u.getCreatedAt()}"></span>
                </td>
                <td>
                    <span th:text="${u.role}"></span>
                </td>
                <td>
                    <span> <a th:text="${u.username}" th:href="@{/users/{username}/(username=${u.username})}"></a></span>
                </td>
                <td>
                    <div th:if="${u.isEnabled()}">
                        <div>enabled</div>
                    </div>
                    <div th:unless="${u.isEnabled()}">
                        <div>not enabled yet</div>
                    </div>
                </td>
                <td>
                    <a th:href="@{/users/delete/{id}/(id=${u.id})}">delete</a>
                </td>
                <td>
                    <a th:href="@{/users/enable/{id}/(id=${u.id})}">enable</a>
                </td>
            </tr>
            </tbody>
        </table>
    </td>
</form>


<p th:if="${ErrorMessage != null}" th:utext="${ErrorMessage}" style="color: red;"></p>
</body>
</html>