<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <title>Feed</title>
</head>
<body>
<header>
    <th:block th:switch="${user.getRole()}">
        <a href="/posts/create">Post news</a>
        <a th:case="'ROLE_USER'" href="user">Userpage</a>
        <a th:case="'ROLE_ADMIN'" href="admin">Adminpage</a>
        <a th:case="'ROLE_MODERATOR'" href="moderator">ModeratorPage</a>
        <a href="/index">About</a>
    </th:block>
</header>

<aside>
    <h2>Recent Posts</h2>
    <td>
        <table>
            <tbody>
            <tr th:each="p : ${latest5Posts}">
                <td>
                    <a th:text="${p.headLine}  " th:href="@{/posts/view/{id}/(id=${p.id})}"></a>
                </td>
            </tr>
            </tbody>
        </table>
    </td>
</aside>

<main id="posts">
    <p th:if="${ErrorMessage != null}" th:utext="${ErrorMessage}" style="color: red;"></p>
    <article th:each="p : ${latest3Posts}">
        <h3 class="title" th:text="${p.headLine}">headline</h3>
        <div class="date">
            <i>Posted on</i>
            <span th:text="${#dates.format(p.date, 'dd-MMM-yyyy')}">date</span>
            <span th:if="${p.user}" th:remove="tag">
	          <i>by</i>
                <span> <a th:text="${p.user.username}" th:href="@{/users/{username}/(username=${p.user.username})}">username</a></span>
	        </span>
        </div>
        <p class="content" th:utext="${p.content}">Post content</p>
    </article>
</main>

<footer></footer>
</body>
</html>
© 2019 GitHub, Inc.