<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
                xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title th:text="${user.username}">View user</title>
</head>

<body>
<header>
    <th:block th:switch="${user.getRole()}">
        <a href="/feed">Feed</a>
        <a href="/posts/create">Post news</a>
        <a th:case="'ROLE_USER'" href="/user">Userpage</a>
        <a th:case="'ROLE_ADMIN'" href="/admin">Adminpage</a>
        <a th:case="'ROLE_MODERATOR'" href="/moderator">ModeratorPage</a>
        <a href="/index">About</a>
    </th:block>
</header>

<main id="users">
    <article>
        <h2 class="title" th:text="${user.username}">username</h2>
        <div class="date">
            <i>Created On</i>
            <span th:text="${#dates.format(user.getCreatedAt(), 'dd-MMM-yyyy')}"></span>
            <div th:if="${user.isEnabled()}">
                <div>enabled</div>
            </div>
            <div th:unless="${user.isEnabled()}">
                <div>not enabled</div>
            </div>
            <div class="text">
                <p>User role:<b th:text="${user.role}">role</b></p>
            </div>
        </div>

        <tr th:each="p : ${allPosts}">
            <div th:if="${p.isApproved()}">
                <td>
                    <a th:text="${p.headLine}  " th:href="@{/posts/view/{id}/(id=${p.id})}"></a>
                </td>
                <td>
                    <span th:text="${p.date}"></span>
                </td>
            </div>
        </tr>
        <!-- make this dropdown selection-->
        <div sec:authorize="hasRole('ADMIN')">
            <span>
                <a th:href="@{/users/makeadmin/{username}/(username=${user.username})}">make admin</a>
            </span>
           <span>
               <a th:href="@{/users/makemoderator/{username}/(username=${user.username})}">make moderator</a>
           </span>
        </div>

    </article>
</main>

<footer></footer>
</body>

</html>