<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>User Page</title>
</head>
<body>
<header>
    <a href="/feed">Feed</a>
    <a href="/posts/create">Post news</a>
    <a href="/index">About</a>
</header>
<h1> User page</h1>
<h2>Welcome: <span th:utext="${user.username}"></span></h2>
<h3>Your Posted news:</h3> </br>

<form method="post" th:object="${user}" th:action="@{/user}" >
    <td>
        <table>
            <tbody>
            <tr th:each="p : ${allPosts}">
                <td>
                    <a th:text="${p.headLine}  " th:href="@{/posts/view/{id}/(id=${p.id})}"></a>
                </td>
                <td>
                    <span th:text="${p.date}"></span>
                </td>
                <td>
                    <div th:if="${p.isApproved()}">
                        <div>approved</div>
                    </div>
                    <div th:unless="${p.isApproved()}">
                        <div>not approved yet</div>
                    </div>
                </td>
                <td>
                    <a th:href="@{/posts/delete/{id}/(id=${p.id})}">delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </td>
</form>



<p th:if="${ErrorMessage != null}" th:utext="${ErrorMessage}" style="color: red;"></p>
</body>
</html>