<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
                xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title th:text="${user.username}">View user</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
</head>

<body style="background: whitesmoke" class="text-center">
<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
    <th:block th:switch="${currentUser.getRole()}">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent" style>
            <a class="navbar-brand" href="/index">
                <img src="../static/images/logo.png" th:src="@{images/logo.png}" width="30" height="30" alt="logo">
            </a>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/feed">Feed</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/posts/create">Post news</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:case="'ROLE_USER'" href="/user">Userpage</a>
                    <a class="nav-link" th:case="'ROLE_ADMIN'" href="/admin">Adminpage</a>
                    <a class="nav-link" th:case="'ROLE_MODERATOR'" href="/moderator">ModeratorPage</a>
                </li>
            </ul>
        </div>
    </th:block>
</nav>

<main id="users">
    <article>
        <h2 class="title" th:text="${user.username}">username</h2>
        <div class="date">
            <i>Created On</i>
            <span th:text="${#dates.format(user.getCreatedAt(), 'dd-MMM-yyyy')}"></span>
            <div th:if="${user.isEnabled()}">
                <div>enabled</div>
            </div>
            <div th:unless="${user.isEnabled()}">
                <div>not enabled</div>
            </div>
            <div class="text">
                <p>User role:<b th:text="${user.role}">role</b></p>
            </div>
        </div>

        <tr th:each="p : ${allPosts}">
            <div th:if="${p.isApproved()}">
                <td>
                    <a th:text="${p.headLine}  " th:href="@{/posts/view/{id}/(id=${p.id})}"></a>
                </td>
                <td>
                    <span th:text="${p.date}"></span>
                </td>
            </div>
        </tr>
        <!-- make this dropdown selection-->
        <div sec:authorize="hasRole('ADMIN')">
            <span>
                <a th:href="@{/users/makeadmin/{username}/(username=${user.username})}">make admin</a>
            </span>
           <span>
               <a th:href="@{/users/makemoderator/{username}/(username=${user.username})}">make moderator</a>
           </span>
        </div>

    </article>
</main>

<footer></footer>
</body>

</html>